{% extends 'bounties/main.html' %}
{% load static %}
{% block content %}

<div class="bio-graph-heading" style="font-size: 30px;">About Us</div>
<li><h2 style="font-size: 20px">The world is at a state of peril. On one side COVID-19 is shattering lives and relationship alike, and on the other hand 
our environment is decaying to the point of no return. We thought to ourselves, how do we make the best of this? Or as 
Rohan Bansal would say, how can we, ThetaHackers, impact our world? What better way to do just that than foster local
change with an environment bounty platform! Join us to see more...</h2></li>



{% endblock content %}